<div class="container">
  <footer class="footer">

    <small>
      Copyright &copy; <a href="https://www.udemy.com"> The Midterm Exam</a>
      by <a href="https://www.facebook.com/glennpogi2018/">Glenn Caguioa</a>
    </small>
    <nav>

    </nav>
  </footer>

</div>